<h1><%= "Hello, #{current_user.email}" %></h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
<p>You can test the API with following credentials.</p>
<div class="container">
  <ul>
    <li><%= link_to "Web Books", books_path %></li>
    <li>API V1 Books</li>
    <li>API V1 Android Books</li>
  </ul>
</div>
